*, 
*::before, 
*::after {
  box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html, 
body {
    margin: 0;
    padding: 0;
    min-width: 100vh;
    max-width: 767px;
    font-family: 'Source Sans 3', sans-serif;
    overflow-x: hidden;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

div {
    width: 375px;
    margin: 0 auto;
}

.introduction {
    margin: 1em 0;
    letter-spacing: -0.0653rem;
    font-weight: 700;
    font-size: 2.125rem;
}

/* Images styling */
.blog img {
    width: 100%;
}

.blog-feature img {
    margin: 0.625rem 0;
}

#author-img {
    width: 11.375rem;
    border-radius: 50%;
}

/* Typography */
p {
    font-size: 1rem;
}

.blog .content, .section-content, .main-content {
    line-height: 1.5;
    letter-spacing: 1px;
}

#sub-heading {
    margin-top: 0.625rem;
}

/* Header styling */
header {
    width: 100%;
}

.title-text {
    font-size: 0.87rem;
    grid-column: 3;
    align-self: center;
}

ul {
    display: flex;
    gap: 1rem;
    justify-content: end;
}

li {
    list-style-type: none;
    text-transform: uppercase;
}

.title {
    display: grid;
    grid-template: 30px / 1em 15px auto 50px auto;
    padding: 1em;
    grid-gap: 0.4em;
    width: 100%;
}

.icon-img {
    width: 2.225rem;
    grid-column: 2;
    align-self: center;
    justify-self: right;
}

nav {
    grid-column: -3 / -1;
    font-size: 0.87rem;
    font-weight: 800;
    align-self: center;
    justify-self: right;
}

section {
    width: 100%;
}

.recent-posts {
    font-size: 1rem;
    margin-top: 45px;
    text-align: center;
}

/* Anchor tags */
a {
    text-decoration: none;
    color: black;
}

a:hover, a:focus {
    color: blue;
    font-size: 1.05em;
}

.section-title a {
    color: #FFFFFF;
}

.section2-title a {
    color: #000000;
}

.section-title a:hover, .section-title a:focus,
.section2-title a:hover, .section2-title a:hover {
    color: darkblue;
}

.next-page {
    text-align: center;
}

.next-page a {
    text-decoration: underline;
    text-transform: capitalize;
}

img {
    width: 375px;
}

/* Footer styling */
footer {
    background: #202020;
    color: #D7D7D7;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer h4, p {
    font-size: 0.87rem;
}

footer h4 {
    margin-bottom: 0;
}

footer p {
    margin-top: 0.5em;
}

/* Media query */
@media (min-width: 768px) {
    #intro, #blog {
        min-width: 600px;
        max-width: 800px;
    }
    
    html, 
    body {
        min-width: 768px;
        max-width: 100%;
    }
    
    #intro {
        display: flex;
        gap: 0.625em;
        align-items: center; 
    }
    
    .blog {
        min-width: 200px;
        max-width: 100%;
    }
    
    .blog img {
        width: 100%;
        object-fit: cover;
    }
    
    #section-2 {
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template: auto auto / repeat(3, minmax(200, 250));
        padding: 0 1em;
        grid-gap: 1em;
    }
    
    .recent-posts {
        grid-column: 1 / 4;
        grid-row: -1;
        justify-self: center;
    }
    
    #blog-1 {
        grid-column: 1;
        grid-row: 2;
    }
    
    #blog-2 {
        grid-column: 2;
        grid-row: 2;
    }
    
    #blog-3 {
        grid-column: 3;
        grid-row: 2;
    }
    
    #blog, #intro-2 {
        padding: 2em;
    }
  
    div {
        width: 100%;
    }
}

